<h2>Login</h2>
<div>
    <label for="uname">Benutzername:
        <input id="uname" type="text">
    </label>
    <label for="pword">Passwort:
        <input id="pword" type="password" placeholder="Passwort">
    </label>
</div>
<div>
    <button type ="button" id="login">Einloggen</button>
    <a routerLink="/register">
        <button type = "button" id="register"> Registrieren</button>
    </a>
    <a routerLink="/forgot-pw">
        <button type ="button" id="forgot_pword">Passwort vergessen</button>
    </a>
</div>