<h2>Login</h2>
<div>
    <label for="username">Benutzername:
        <input id="username" type="text">
    </label>
    <label for="password">Passwort:
        <input id="password" type="password" placeholder="Passwort">
    </label>
</div>
<div>
    <button type ="button" id="login">Einloggen</button>
    <a routerLink="/register">
        <button type = "button" id="register"> Registrieren</button>
    </a>
    <a routerLink="/forgot-pw">
        <button type ="button" id="forgot_pword">Passwort vergessen</button>
    </a>
</div>