<mat-sidenav-container *ngIf="showSideNav" class="sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Settings</a>
      <a mat-list-item href="#">About</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      style="display: flex; flex-direction: column; height: 100%; width: 100%"
    >
      <!-- Toolbar -->
      <mat-toolbar color="primary" style="flex-grow: 1">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ title }}</span>
        <span style="flex: 1 1 auto"></span>
        <button *ngIf="showMenu" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Create group</button>
          <button mat-menu-item>Add bill</button>
        </mat-menu>
      </mat-toolbar>

      <!-- Content -->
      <div style="flex-grow: 12; height: 100%; width: 100%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Toolbar without sidenav -->
<div
  *ngIf="!showSideNav"
  style="display: flex; flex-direction: column; height: 100%; width: 100%"
>
  <!-- Toolbar -->
  <mat-toolbar color="primary" style="flex-grow: 1">
    <button
      type="button"
      aria-label="Go back"
      mat-icon-button
      (click)="goBack()"
      *ngIf="showGoBackButton"
    >
      <mat-icon aria-label="Go back button">arrow_back</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span style="flex: 1 1 auto"></span>
    <button *ngIf="showMenu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Create group</button>
      <button mat-menu-item>Add bill</button>
    </mat-menu>
  </mat-toolbar>

  <!-- Content -->
  <div style="flex-grow: 12; height: 100%; width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
