<h2>Registrieren</h2>
<form>
    <label id="email">E-Mail:
        <input id="email" type ="email">
    </label>
    <label id="password">Passwort:
        <input id="password" type ="password" placeholder="Passwort">
    </label>
    <label id="rpassword">Passwort wiederholen:
        <input id="rpassword" type ="rpassword" placeholder="Passwort wiederholen">
    </label>
    <label id="pname">Vorname:
        <input id="pname" type ="text">
    </label>
    <label id="fname">Nachname:
        <input id="fname" type ="text">
    </label>
</form>
<button type ="submit" id="sendCredentials">Bestätigen</button>
<button (click)="goBack()" type ="button" id="goBack">Zurück</button>